%section.all-links
  - @links.each do |link|
    .link
      .title
        = link_to link.title, (link.url? ? link.url : link)
        - if link.url?
          %span
            ( #{link.url} )
      .metadata
        %span.time-created
          = time_ago_in_words(link.created_at)
          ago
        %span.comment-count
          = link_to pluralize(link.comment_count, 'comment'), link
        - if logged_in? && current_user.owns_link?(link)
          %span.edit-link
            = link_to "edit", edit_link_path(link)
          %span.delete-link
            = link_to "delete", link, method: :delete, data: { confirm: "Are you sure?" }